:root {
    --mainBackgroundColor: #ffffff;
    --defaultFontColor: #888888;
    --mainTitleColor: #2d3236;
    --mainSubtitleColor: #48ccf2;
    --sidebarColor: #f9f9f9;
}

body {
    font-family: 'Lato', sans-serif;
    background: var(--mainBackgroundColor);
    font-size: 1em;
    color: var(--defaultFontColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--mainTitleColor);
}

strong {
    font-weight: bold;
}

ul {
    list-style: disc;
    padding-left: 2em;
}

p,
ul {
    line-height: 1.5em;
}

li {
    padding: 1px 0;
}

.container {
    width: 100%;
    max-width: 1010px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 660px 350px;
    grid-template-rows: 325px repeat(3, auto);
}

.header {
    grid-column: 1 / 3;
    background-color: var(--mainTitleColor);
    display: grid;
    grid-template-columns: 660px 350px;
    grid-template-rows: 325px;
}

.logo {
    grid-column: 2 / 3;
    padding: 1em;
}

.logo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.me {
    justify-self: center;
    align-self: center;
}

.me h1 {
    font-size: 3.25em;
    margin-bottom: 5px;
    color: var(--mainBackgroundColor);
    text-transform: uppercase;
}

.me h2 {
    font-size: 1.5em;
    padding-top: .25em;
    color: var(--mainSubtitleColor);
}

.me p {
    padding-top: 1em;
}

.me h2,
.me p {
    text-align: center;
}

.me p span {
    margin-right: .75em;
}

.me p span i {
    color: var(--mainSubtitleColor);
}

.info {
    grid-column: 1 / 2;
    grid-row: 2 / 8;
}

.sidebar {
    grid-row: 2 / 8;
    grid-column: 2 / 3;
    background-color: var(--sidebarColor);
    padding: 2em;
}

.education {
    border-bottom: 1px solid var(--defaultFontColor);
    padding-bottom: 1em;
}

.education:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.education>* {
    display: block;
    padding: 0.4em 0;
}

.education {
    margin-bottom: 1em;
}

.education h2 {
    color: var(--mainSubtitleColor);
    font-size: 1.25em;
}

.social {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1em;
}

.social-content {
    background-color: var(--secondBackgroundColor);
    padding: 1.25em;
}

.social-content .title {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.social {
    color: var(--mainSubtitleColor);
}

.social a {
    display: block;
}

.social a i {
    font-size: 2em;
    color: var(--mainSubtitleColor);
}

.social a span {
    font-size: 0.8em;
    margin-top: 0.75em;
    display: block;
}

.title {
    display: grid;
    grid-template-columns: 1fr 50%;
}

.title h2 {
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 5px;
}

.underline {
    max-width: 100%;
    height: 1px;
    align-self: center;
    margin: 0 1em;
    background-color: var(--mainTitleColor);
}

.sidebar .title {
    display: block;
    margin-bottom: 1.25em;
}

.sidebar .title .underline {
    display: none;
}

a {
    color: var(--defaultFontColor);
    text-decoration: none;
}

.jobs,
.skills,
.hobbies {
    margin-left: 2em;
}

.jobs,
.skills,
.hobbies {
    grid-column: 1 / 2;
    margin-bottom: 2em;
}

.title {
    padding-top: 1.25em;
    margin-bottom: 2em;
}

.job {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 1em;
}

.job .date,
.school .date {
    grid-column: 1 / 2;
    font-style: italic;
    align-self: center;
}

.job-description {
    grid-column: 2 / 3;
}

.job-title {
    color: var(--mainSubtitleColor);
}

.job-title,
.school-title {
    grid-column: 2 / 3;
    font-size: 1.5em;
}

.job-company,
.school-description {
    font-style: italic;
    font-size: 1.05em;
    padding-bottom: .3em;
}

.skills-content {
    display: grid;
    grid-template-columns: 100px auto 100px auto;
    grid-gap: 0.75em 0.5em;
}

.skills-content span {
    align-self: center;
}

progress {
    display: block;
    background: var(--sidebarColor);
    color: var(--mainSubtitleColor);
    border-radius: 5px;
    border: none;
    height: 1em;
}

progress::-moz-progress-bar {
    border-radius: 5px;
    background: var(--mainSubtitleColor);
}

progress::-webkit-progress-bar {
    background: transparent;
}

progress::-webkit-progress-value {
    border-radius: 5px;
    background: var(--mainSubtitleColor);
}

.school {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 1em;
}

.job,
.school {
    margin-bottom: 2em;
}

.job:last-child,
.school:last-child {
    margin-bottom: 0;
}

.hobbies-content {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-items: center;
    align-items: center;
    text-align: center;
    grid-row-gap: 2em;
}

.hobby i {
    font-size: 3em;
    color: var(--mainSubtitleColor);
}

.hobby span {
    margin-top: 0.5em;
    display: block;
}

.footer {
    grid-column: 1 / 3;
    height: 3em;
    width: 100%;
    background-color: var(--mainTitleColor);
}

@media screen and (min-width: 769px) and (max-width:992px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .header,
    .sidebar,
    .jobs,
    .skills,
    .hobbies {
        grid-column: 1 / 3;
        margin-left: 0;
        padding: 1em;
    }
    .header {
        grid-template-columns: 1fr;
    }
    .header .logo {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .header .me {
        height: auto;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .sidebar {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, auto);
    }
    .sidebar p:first-child {
        text-align: justify;
        grid-column: 1 / 3;
    }
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .header,
    .sidebar,
    .jobs,
    .skills,
    .hobbies {
        grid-column: 1 / 2;
        margin-left: 0;
    }
    .jobs,
    .skills,
    .education,
    .hobbies {
        padding: 1em;
        margin-bottom: 0;
    }
    .header {
        grid-template-columns: 1fr;
    }
    .header .logo {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .header .me {
        height: auto;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .header .me p {
        display: grid;
        grid-template-columns: auto 1fr;
    }
    .header .me p span {
        grid-column: 2 / 3;
    }
    .header .me p span i {
        grid-column: 1 / 2;
        padding: .25em;
    }
    .skills-content {
        grid-template-columns: auto auto;
    }
    .me {
        grid-row: 2 / 3;
        justify-self: center;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .me h1 {
        font-size: 2em;
    }
    .me h2 span {
        display: block;
    }
    .me h1,
    .me h2 span {
        text-align: center;
    }
    .social-content {
        padding: 1em;
    }
    .social a span {
        font-size: 1em;
    }
    .title h2 {
        font-size: 1.75em;
    }
    .job,
    .school {
        grid-template-columns: 1fr;
    }
    .job .date,
    .job-title,
    .job-description,
    .school .date,
    .school-title,
    .school-description {
        grid-column: 1 / 2;
        justify-self: center;
    }
    .job .date,
    .school .date {
        grid-row: 2 / 3;
    }
    .job-description {
        grid-row: 3 / 4;
    }
    .skills progress {
        justify-self: center;
    }
}

/* @media screen and (min-width: 420px) and (max-width:768px) {
    .container {
        grid-template-rows: 350px;
    }
    .skills-content span {
        justify-self: center;
    }
} */