:root {
    --primaryColor: #ee5c42;
    --secondaryColor: #5b5c5e;
    --mainTextColor: #9A9B9F;
}

body {
    font-family: 'Lato', sans-serif;
    background: #f1f3f2;
    font-size: 1em;
    color: var(--mainTextColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--secondaryColor);
}

h1,
h2 {
    text-transform: uppercase;
}

strong {
    font-weight: bold;
}

ul {
    list-style: disc;
    padding-left: 2em;
}

p,
ul {
    margin-top: .5em;
    text-align: justify;
}

li {
    padding: 1px 0;
}

.container {
    width: 100%;
    max-width: 1010px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 350px 220px 440px;
    grid-template-rows: 250px auto repeat(3, auto);
}

.logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.logo img {
    height: 100%;
    width: 100%;
    vertical-align: top;
}

.me h1 {
    font-size: 2.2em;
}

.me h2 {
    font-size: 1.2em;
}

.me h1,
.me h2 {
    color: #f3f7fa;
}

.me,
.contact-details {
    grid-row: 2 / 3;
}

.contact {
    align-self: center;
}

.contact i {
    color: var(--primaryColor);
    font-size: 1.2em;
}

.contact span {
    padding-left: 0.5em;
}

.me {
    grid-column: 1 / 3;
    display: block;
    background-color: var(--primaryColor);
}

.contact-details {
    grid-column: 3 / 4;
    display: grid;
    padding-left: 1em;
}

.me,
.info,
.jobs,
.skills,
.hobbies,
.sidebar {
    padding: 2em;
}

.info {
    grid-column: 2 / 4;
}

.info p:first-child {
    margin: 0;
}

.title {
    display: inline-block;
    margin-bottom: 2em;
}

.title h2 {
    color: #4e4e4e;
    font-size: 1.75em;
}

.title .underline {
    display: block;
    height: 5px;
    background-color: var(--primaryColor);
    margin-top: 1em;
    width: 25%;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 3 / 6;
    background-color: #dcdddf;
}

.sidebar {
    color: var(--secondaryColor);
}

.sidebar .title .underline {
    width: 100%;
}

.education {
    border-bottom: 2px solid #bebfc1;
    padding-bottom: 1em;
}

.education:last-child {
    border-bottom: none;
}

.education>* {
    display: block;
    padding: 0.4em 0;
}

.education {
    margin-bottom: 1em;
}

.social {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1em;
}

a {
    text-decoration: none;
    color: inherit;
}

.jobs {
    grid-column: 2 / 4;
}

.job {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .5em;
}

.job:nth-child(even) {
    margin: 2em 0;
}

.job h2 {
    color: var(--primaryColor);
}

.skills {
    grid-column: 2 / 4;
}

.skills-content {
    display: grid;
    grid-template-columns: 100px auto 100px auto;
    grid-gap: 0.75em 0.5em;
}

.skills-content span {
    align-self: center;
}

progress {
    display: block;
    background: #dcdddf;
    border-radius: 2px;
    height: 1em;
}

progress::-webkit-progress-bar {
    background: transparent;
}

progress::-webkit-progress-value {
    border-radius: 2px;
    background: var(--primaryColor);
}

.hobbies {
    grid-column: 2 / 4;
}

.hobbies-details {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-items: center;
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 100%;
        grid-template-columns: 100%;
    }
    .logo,
    .info,
    .me,
    .contact-details,
    .sidebar,
    .jobs,
    .skills,
    .hobbies {
        grid-column: 1/ 2;
    }
    .me {
        text-align: center;
    }
    .me,
    .info,
    .jobs,
    .skills,
    .hobbies,
    .sidebar {
        padding: 1.75em 1em;
    }
    .me h1 {
        font-size: 1.75em;
    }
    .me h2 {
        font-size: 1em;
    }
    .contact-details {
        grid-row: 4/5;
        grid-row-gap: 1em;
        justify-content: center;
        margin-bottom: 1em;
    }
    .info {
        grid-row: 3/4;
    }
    .info>.title {
        display: none;
    }
    .sidebar {
        grid-row: 5/6;
    }
    .skills-content {
        grid-template-columns: 100px auto;
        grid-row-gap: 1em;
        justify-content: center;
    }
    .title h2 {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 420px) and (max-width:768px) {}

@media screen and (min-width: 769px) and (max-width:992px) {}